doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title SDP Project MaPPPing
  meta(content='' name='descriptison')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/icofont/icofont.min.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/venobox/venobox.css' rel='stylesheet')
  link(href='assets/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: Squadfree - v2.2.0
    * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.fixed-top.header-transparent
  .container.d-flex.align-items-center
    .logo.mr-auto
      h1.text-light
        a(href='index')
          span Project MaPPPing
      // Uncomment below if you prefer to use an image logo
      // <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav.nav-menu.d-none.d-lg-block
      ul
        li.active
          a(href='#hero') Home
        li
          a(href='#about') Project MaPPPing
        li
          a(href='#Insight') Insight
        li
          a(href='#Methodology') Methodology
        li
          a(href='#team') SDP Team
        li
          a(href='#contact') Contact Us
    // .nav-menu
    // map API
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')
// End Header
// ======= Hero Section =======
section#hero
  .hero-container(data-aos='fade-up')
    br
    br
    br
    br
    h1(style='font-size:40px')
      | PPP Infrastructure
      br
    h1 Failure Map
    h2 Sustainable Development Program
    br
    a.cta-btn(href='inner-page') Go to our Map / Get Started
    br
    a.btn-get-started.scrollto(href='#about')
      i.bx.bx-chevrons-down
// End Hero
main#main
  // ======= About Section =======
  section#about.about
    .container
      .row.no-gutters
        .content.col-xl-5.d-flex.align-items-stretch(data-aos='fade-up')
          .content
            h3 What is Project MaPPPing &apos;Failure Map&apos;?
            p
              | Project MaPPPing is one of SDP&rsquo;s major initiatives in line with the UN Sustainable Development Goals (SDGs) to contribute to the development of sustainable and resilient infrastructures. We aim to provide relevant data on infrastructure projects in the form of Public Private Partnership(PPP), because we believe that PPP is the most efficient way of building infrastructures. SDP&rsquo;s Project MaPPPing consists of three phases and the &lsquo;Failure Map&rsquo; is the last step. Through Phase 1 and 2, we developed our own database on disrupted PPP infrastructure Deals. In Phase 3 we have visualized this database into a &lsquo;Failure Map&rsquo; in order to engage and inspire our map users who are interested in sustainable infrastructure development.
            a.about-btn(href='#team')
              | SDP Team
              i.bx.bx-chevron-right
        .col-xl-7.d-flex.align-items-stretch
          .icon-boxes.d-flex.flex-column.justify-content-center
            .row
              .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='100')
                i.bx.bx-shape-polygon
                h4 Uniqueness
                p
                  | Our map is distinct from other maps because it is a &lsquo;Failure Map&rsquo; that specifically focuses on delayed or canceled PPP projects. We track them down, gather relevant information, and visualize the data in a way that anyone can easily understand the dynamics of the field. We collect information on &lsquo;failed&rsquo; PPP deals that have occurred in all countries regardless of their income or size, and of every type of infrastructure projects including power plants, wind farms, roads, water utilities and more.
              .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='200')
                i.bx.bx-user-pin
                h4 User Experience
                p
                  | Our map aims to maximize the experience of our users not only by providing specific reasons as to why a project was delayed or canceled, but also by providing various filtering services. Users can search for specific projects based on its location, type, status, year and more. Furthermore, our AI tool suggests similar PPP projects that users might take interest in based on their search results. Overall, we hope that users can gather various insights using our map and support the development of sustainable infrastructures for our sustainable future.
              .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='300')
                i.bx.bx-user-pin
                h4 Why infrastructure?
                p The question of why SDP is working on Project MaPPPing is also important.
                p
                  | First, we believe that infrastructure development is indispensable from sustainable development. Not to mention SDG Goal 9: &ldquo;Industry, Innovation, and Infrastructure&rdquo; and Goal 11: &ldquo;Sustainable Cities and Communities&rdquo; that directly refer to infrastructure development, but other SDGs make implicit the need for a solid infrastructure as well (ex) clean water.
              .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='400')
                i.bx.bxl-product-hunt
                h4 Why PPP?
                p
                  | Out of many infrastructure projects, SDP focuses on Public Private Partnership (PPP). This is due to the efficiency of PPP in building infrastructure. Infrastructure projects require large capital, which is usually a heavy burden for governments in developing countries. PPP can allow for better procurement of funding which makes many infrastructure projects possible. Meanwhile, the government&apos;s overall involvement in the project keeps the private sector in check so that the project not only seeks profit but is beneficial for society and in line with the SDGs.
              .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='500')
                i.bx.bx-map-alt
                h4 Why a Failure map?
                p
                  | Failure is the pillar of success and this applies to infrastructure projects as well. Knowing the causes of failure becomes the milestone for not repeating that mistake in the future. Therefore, SDP collects data on PPP infrastructure projects that have been delayed and or canceled due to various reasons. SDP then delivers the information intuitively to users via its &lsquo;Failure Map&rsquo;. Using this map, users can accrue insights themselves by utilizing various filters provided.
              .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='600')
                i.bx.bx-group
                h4 Users who can benefit from our map:
                p
                  ul
                    li Project Developers
                    li Project Investors
                    li Project Asset Managers
                    li Government Agencies
                    li Researchers
                    li And more
                  |                       To know more about how to use the map, please refer to 
                  b &lsquo;Tutorial&rsquo;
                  |  above the map.
                  br
                  br
                  | To know more about terms and standards used in the map, please refer to                   
                  br
                  b &apos;Methodology&apos;.
                  br
                  br
                  | To maximize your experience, please refer to 
                  b &lsquo;Insight&rsquo;
                  |  and start developing your own!
                  br
                  br
                  | To know more about us, please refer to 
                  br
                  b &apos;SDP Team&apos;
                  |  and 
                  b &apos;Contact Us&apos;.
        // End .content
  // End About Section
  // ======= Insight Section =======
  section#Insight.insight-box
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        br
        h2 Insight
        p
          | SDP Failure Map provides insights as follows. This section enables the potential users to understand and foresee how the map can be utilized.
      .row.insight2
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#') The causes of failure of the PPP infrastructure projects
            .card-back
              | The categorized causes of project failures show potential risks and allow project managers to devise numerous failure scenarios and prepare effective recovery strategies.
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#') Areas with high project failure rates and low areas
            .card-back
              ul(style='margin-left:-15px !important;')
                li
                  | Investors may refer to the data to make their infrastructure project investment decisions.
                li
                  | The data could work as the starting point of the feasibility check for the consulting firms.
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#') Number of project failures per year
            .card-back
              | Scholars and researchers of various organizations can detect the annual growth of the infrastructure projects in the world.
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#') Frequent project failure cause by sector
            .card-back
              | Corporates and governments may prevent possible failure cause with sector-specific plannings.
      br
      .row.insight2
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#')
                | Varying degree of failure in developing/developed countries (Does the degree of national development have a significant impact on failure)?
            .card-back
              | Banks, corporations, and government agencies can use this data as a means of determining risks in deciding whether to invest in certain countries or not.
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#') Impact of major crisis (e.g. COVID-19) on project failure gradient
            .card-back
              | Analysts and investment consultants can use this data to predict how current/future crises will affect projects.
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#')
                | Project failure over time (can be linked to IMF, Covid, etc. when data is more accumulated)
            .card-back
              | When more data is accumulated, project failure over time may be linked with general global circumstances.
        .insight-box.col-md-6.col-lg-3.d-flex.align-items-stretch.mb-5.mb-lg-0
          .card-inner
            .card-front
              a.inactiveLink(href='#') Concentrated sector by country/region
            .card-back
              | National governments, investors and other stakeholders may use this data to determine which infrastructure sector is vulnerable in terms of country or region.
      br
  // End Insight Section
  // ======= Counts Section =======
  section#counts.counts.section-bg
    .container
      p.notice &#xC5EC;&#xB7EC;&#xBD84; &#xC5EC;&#xAE30; &#xB123;&#xC744;&#xAC8C; &#xC788;&#xB098;&#xC694;? &#xC5EC;&#xAE30; &#xB123;&#xC744; &#xC218;&#xCE58;&#xD615; &#xB370;&#xC774;&#xD130; &#xC788;&#xB098;&#xC694;? &#xC544;&#xC774;&#xCF58; &#xBC0F; &#xAC1C;&#xC218;&#xB294; &#xBCC0;&#xACBD;&#xAC00;&#xB2A5;&#xD558;&#xB2C8; &#xD639;&#xC2DC;&#xB77C;&#xB3C4; &#xC788;&#xB2E4;&#xBA74; &#xC54C;&#xB824;&#xC8FC;&#xC138;&#xC694;. &#xC5C6;&#xB2E4;&#xBA74; &#xC9C0;&#xC6B8;&#xAC8C;&#xC694; !
      br
      .row.no-gutters
        .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch
          .count-box
            i.icofont-simple-smile
            span(data-toggle='counter-up') 232
            p
              strong Countries
              |  done
        .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch
          .count-box
            i.icofont-document-folder
            span(data-toggle='counter-up') 521
            p
              strong Data
              |  collected from xxxx
        .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch
          .count-box
            i.icofont-live-support
            span(data-toggle='counter-up') 1,463
            p
              strong Hours Of Support
              |  aut commodi quaerat
        .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch
          .count-box
            i.icofont-users-alt-5
            span(data-toggle='counter-up') 15
            p
              strong Hard Workers
              |  rerum asperiores dolor
  // End Counts Section
  // ======= Methodology Section =======
  section#Methodology.Methodology
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        br
        h2 Methodology
        p
          | SDP Project MaPPPing Failure map focuses on Private Public Partnership project deals that have been affected by open sources shared on the web. The team categorized and organized the data based on significant characteristics of the project and laid them out on the map for users to view. These characteristics generally follow World Bank PPI classification as well as what the team believes is significant. The Failure Map utilizes the filter bar based on these characteristics and classifications.
          br
          br
          |             For a better understanding of the classification of the project deals, select the options below:
      .row(data-aos='fade-in')
        .col-12
          // button 1
          button.accordion Region
          .panel
            br
            p
              | Countries are organized based on their geographical location
              ul
                li East Asia and Pacific
                li Europe and Central Asia
                li Latin America and the Caribbean
                li Middle East and North Africa
                li South Asia
                li Sub-Saharan Africa
                li High Income
              b World Bank regions:
              |  countries are separated into 6 World Bank regions, separating out high-income countries as a 7th group: High Income, East Asia and Pacific, Europe and Central Asia, Latin America and the Caribbean, Middle East and North Africa, South Asia and Sub-Saharan Africa. See the Notes sheet in each spreadsheet for more information.
          // button 2
          button.accordion Sector
          .panel
            br
            p
              span(style='font-weight: 400;') Projects are organized according to the type of infrastructure. 
              span(style='font-weight: 400;')
                br
              span(style='font-weight: 400;') 5 Primary Sectors: Energy, ICT, Transport, Water and Sewerage, and Solid Waste
              span(style='font-weight: 400;')
                br
              span(style='font-weight: 400;') (Subsectors are listed below each Primary Sectors)
            hr
            p
              strong Energy:
              span(style='font-weight: 400;')
                | Includes the activities directly related to the provision of electricity or natural gas to users as a public service.
            p
              strong Subsectors
              span(style='font-weight: 400;') :
            ul
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Electricity:
                span(style='font-weight: 400;')
                  | Activities required for the provision of electricity. It includes the segments of generation, transmission, and distribution of electricity.
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Natural gas
                span(style='font-weight: 400;') : It includes the segments of transmission and distribution pipelines. 
                strong
                  em Excludes gas exploration and production
                span(style='font-weight: 400;')
                  | . Note that if the gas is used as an input by a power plant, the project belongs to the electricity subsector and the generation segment.
            hr
            p
              strong Information and communication technology (ICT):
              span(style='font-weight: 400;')  Reflecting changes in the telecoms/ICT field, the 
              span(style='font-weight: 400;') SDP Project MaPPPing
              span(style='font-weight: 400;')  will only track:
            p
              strong Subsectors
              span(style='font-weight: 400;') :
            ul
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') ICT backbone
                span(style='font-weight: 400;')
                  | : Hard infrastructure cable assets (such as fiber optic networks and other types of broadband networks) where the government is involved either through being a contracting authority (i.e. a party to a concession agreement), the owner of the assets, or some other form of government support.
            hr
            p
              strong Transport:
              span(style='font-weight: 400;')
                | Assets or facilities required to move people or freight from one location to another as a public service.
            p
              strong Subsectors
              span(style='font-weight: 400;') :
            ul
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Airport:
                span(style='font-weight: 400;')  includes physical infrastructure (terminal, runway, tower)
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Railway:
                span(style='font-weight: 400;')
                  | includes track, terminals, rails, and rolling stock.&nbsp; Subway systems and/or monorails are also considered railway.
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Road
                span(style='font-weight: 400;')
                  | : includes all facilities necessary for land transport, but excludes buses and automobiles.&nbsp; A project may also have a combination of the below.
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Ports
                span(style='font-weight: 400;')
                  | : includes terminal facilities and surrounding waterway, but excludes shipping companies.
            hr
            p
              strong Water and sewerage:
              span(style='font-weight: 400;')
                | Activities needed to provide potable water to users or to process or dispose of wastewater as a public service.
            p
              strong Subsectors
              span(style='font-weight: 400;') :&nbsp;
            ul
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Treatment plant
                span(style='font-weight: 400;')
                  | : includes all facilities necessary for treating and storing potable water to users or processing wastewater.
              li(style='font-weight: 400;' aria-level='1')
                em
                  span(style='font-weight: 400;') Water Utility
                span(style='font-weight: 400;')
                  | : includes all facilities necessary for storing and delivering potable water to users, including pipes and devices for measuring consumption, for transfer of potable water to individual users.
            hr
            p
              strong Solid Waste: 
              span(style='font-weight: 400;')
                | Activities related to collection, transfer, treatment and disposal of municipal solid waste as a public service.
            p
              strong Subsectors:&nbsp;
            p
              em
                span(style='font-weight: 400;') Treatment/Disposal: 
              span(style='font-weight: 400;')
                | includes sorting and recycling facilities, mechanical and biological treatment, incineration/waste to Energy facilities and sanitary landfill. Treatment/Disposal also includes facilities related with collection, transport, and integrated management of waste.
            hr
            p
              strong Others: 
              span(style='font-weight: 400;')
                | Includes activities and facilities not included in energy, information and communication technology (ICT), transport, water and sewerage, and solid waste.
            p
              strong Subsectors:
            p
              em
                span(style='font-weight: 400;') Others: 
              span(style='font-weight: 400;')
                | refers to all infrastructure not mentioned above; smart city, housing, multiple complex, economic zone project, etc.
          // Income group
          button.accordion Income group
          .panel
            p(style='margin-top:10px')
              span(style='font-weight: 400;')
                | According to the World Bank country classification by income level, SDP Project MaPPPing assigns the world&apos;s economy to four income groups; low income, lower-middle income, upper-middle income, and high income groups. The classifications are based on GNI per capita in USD.
              ul
                li(style='font-weight: 400;')
                  strong Low income group:
                  span(style='font-weight: 400;') $1,035 or Less
                li(style='font-weight: 400;')
                  strong Lower-Middle income group:
                  span(style='font-weight: 400;') $1,036 - $4,045
                li(style='font-weight: 400;')
                  strong Upper-Middle income group:
                  span(style='font-weight: 400;') $4,046 - $12,535
                li(style='font-weight: 400;')
                  strong High income group:
                  span(style='font-weight: 400;') $12,536 or More
          // Type of PPI:
          button.accordion Type of PPI
          .panel
            br
            p(style='margin-top:18px;margin-bottom:-20px;')
              ul
                li Management contract and lease&nbsp;&nbsp;&nbsp; 
              table(style='width: 500px;' cellspacing='10' cellpadding='3')
                tbody
                  tr(style='height: 35px;')
                    td(style='height: 35px; text-align: center;')
                      p
                        strong Capital expenditure
                    td(style='height: 35px; text-align: center;')
                      p
                        span(style='font-weight: 400;') Public
                  tr(style='height: 35px;')
                    td(style='height: 35px; text-align: center;')
                      p
                        strong Operating expenditure
                    td(style='height: 35px; text-align: center;')
                      p
                        span(style='font-weight: 400;') Private or Public
                  tr(style='height: 35px;')
                    td(style='height: 35px; text-align: center;')
                      p
                        strong Operating expenditure
                    td(style='height: 35px; text-align: center;')
                      p
                        span(style='font-weight: 400;') Private
                  tr(style='height: 35px;')
                    td(style='height: 35px; text-align: center;')
                      p
                        strong Ownership of assets
                    td(style='height: 35px; text-align: center;')
                      p
                        span(style='font-weight: 400;') Public
                  tr(style='height: 35px;')
                    td(style='height: 35px; text-align: center;')
                      p
                        strong Ownership of contract
                    td(style='height: 35px; text-align: center;')
                      p
                        span(style='font-weight: 400;') Private or Mixed
            p &nbsp;
            ul
              li Brownfield Project&nbsp; 
            table(style='width: 500px;' cellspacing='10' cellpadding='3')
              tbody
                tr
                  td(style='text-align: center;')
                    p
                      strong Capital expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Operating expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Operating expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Ownership of assets
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Public or Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Ownership of contract
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
            p
              br
              br
            ul
              li Greenfield Project 
            table(style='width: 500px;' cellspacing='10' cellpadding='3')
              tbody
                tr
                  td(style='text-align: center;')
                    p
                      strong Capital expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Operating expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Operating expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Ownership of assets
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Public or Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Ownership of contract
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
            p
              br
            p
              | &#x1360; 
              em Difference between Greenfield and Brownfield
            p
              | Greenfield and brownfield projects have the above aforementioned operating and contractual relationship based on the projects.&nbsp; SDP Project&nbsp; MaPPPing focuses on classification by the definition of the terms for which whether the project is built from new(Greenfield) or passed on to another company(Brownfield)
            p &nbsp;
            ul
              li Divestiture 
            table(style='width: 500px;' cellspacing='10' cellpadding='3')
              tbody
                tr
                  td(style='text-align: center;')
                    p
                      strong Capital expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Operating expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Operating expenditure
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Ownership of assets
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
                tr
                  td(style='text-align: center;')
                    p
                      strong Ownership of contract
                  td(style='text-align: center;')
                    p
                      span(style='font-weight: 400;') Private or Mixed
            p
              br
              br
            p
          // Financial Closure year
          button.accordion Financial Closure year
          .panel
            p
            p
              span(style='font-weight: 400;')
                b Financial closure
                |  is defined as a stage when all the conditions of a financing agreement are fulfilled prior to the initial availability of funds. Financial closure is attained when all the tie ups with banks/financial institutions for funds are made and all the conditions precedent to initial drawing of debt is satisfied.
            p
              span(style='font-weight: 400;')
                | In a Public Private Partnership (PPP) project, financial closure indicates the commencement of the Concession Period. The date on which financial closure is achieved is the appointed date which is deemed to be the date of commencement of concession period.
            p
              span(style='font-weight: 400;')
                | In order to give a uniform interpretation for the term financial closure, Reserve Bank of India has provided the following definition. For Greenfield projects, financial closure has been defined as
              em
                span(style='font-weight: 400;')
                  | &quot;a legally binding commitment of equity holders and debt financiers to provide or mobilise funding for the project. Such funding must account for a significant part of the project cost which should not be less than 90 per cent of the total project cost securing the construction of the facility&quot;
              span(style='font-weight: 400;') .
            p
          // Standard of PPP
          button.accordion Standard of PPP
          .panel
            p
            p
              span(style='font-weight: 400;')
                | World Bank Institute (2012, p. 11): A PPP is &ldquo;a long-term contract between a private party and a government agency, for providing a public asset or service, in which the private party bears significant risk and management responsibility&rdquo;.
            p
              span(style='font-weight: 400;') Obtained from UN-based PPP report ANNEX 1(pg.28): 
              a(href='https://www.un.org/esa/desa/papers/2016/wp148_2016.pdf')
                span(style='font-weight: 400;') https://www.un.org/esa/desa/papers/2016/wp148_2016.pdf
            p
      .row.methodology-container(data-aos='fade-up')
  // End Methodology Section
  // ======= Testimonials Section =======
  section#team.testimonials.section-bg
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        br
        h2 SDP Team
        p
          | Sustainable Development Program(SDP) is the first global program on sustainability established under the leadership of undergraduate students.
          | Under the framework of sustainable development, we are continuing our activities on various topics every semester, and currently we are focusing on infrastructure and PPP.
      .team-intro(data-aos='fade-up' data-aos-delay='200')
        ul.row(style='list-style: none;')
          li.col-6.col-md-6.col-lg-6
            .info-box.mb-6
              i.bx.bxs-book-bookmark
              h3 Research Team
              p(style='text-align: justify;')
                span(style='font-weight: 400;')
                  | Members of the research team are working as &ldquo;Research Analyst&rdquo; and &ldquo;Data Reviewer&rdquo; in Project MaPPPing. We search the articles regarding PPP(public-private partnership) projects directly or by using tools(AI Status Suggest) developed by our tech team, which will be entered into the Failure Map database. By categorizing and analyzing a vast range of Infrastructure Information from SDP&apos;s own database, better insights for a sustainable future are derived. Further, we contribute to the improvement of our tool by regularly delivering suggestions for efficient crawling to our tech team based on our findings.
              br
              p(style='text-align: justify;')
                span(style='font-weight: 400;')
                  | We would like to present the present and future of sustainable development in developing countries through Project MaPPPing. In this sense, We believe that the failure map, which analyzes the failure of the infrastructure from a variety of perspectives, such as type, region, and time, will be a useful reference at the beginning of infrastructure construction as well as the planning inspection stage.
          li.col-6.col-md-6.col-lg-6
            .info-box.mb-6
              i.bx.bx-laptop
              h3 Tech Team
              p(style='text-align: justify;')
                | Members of the tech team are responsible for the visualization of the data on our website and subsequent management of the homepage in Project MaPPPing. We run the server by using tools such as HTML, CSS, JavaScript, and AWS.
              br
              p(style='text-align: justify;')
                | We are trying hard to easily and intuitively express high-quality data obtained through collaboration with our research team. Our team aims to provide various functions which help our research team to gain better insights based on our data.
              br
              p(style='text-align: justify;')
                | For instance, currently, individuals can filter the various infrastructure by their characteristics, enabling comparison and further analysis of certain projects. At present, we are working on the &ldquo;See Also&rdquo; part, which recommends infrastructure projects with high similarity, considering multiple criteria, by applying a variety of techniques required.
  // End Testimonials Section
  // ======= Contact Section =======
  section#contact.contact
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        br
        h2 Contact Us
        p For more information, use the channels below.
      .row(data-aos='fade-up' data-aos-delay='100')
        .col-md
          a(href='https://www.facebook.com/SDPforYGL' target='_blank' rel='noopener noreferrer')
            .info-box.mb-4
              i.bx.bxl-facebook
              h3 Facebook
        .col-md
          a(href='https://www.instagram.com/_sdp_official/' target='_blank' rel='noopener noreferrer')
            .info-box.mb-4
              i.bx.bxl-instagram
              h3 Instagram
        .col-md
          a(href='https://www.youtube.com/channel/UCb72tSWPKXzaUV64hTy2T5g' target='_blank' rel='noopener noreferrer')
            .info-box.mb-4
              i.bx.bxl-youtube
              h3 Youtube
        .col-md
          a(href='https://sdpglobal.blogspot.com/' target='_blank' rel='noopener noreferrer')
            .info-box.mb-4
              i.bx.bxl-blogger
              h3 Blogger
        .col-md
          a(href='https://www.sdpglobal.org/ ' target='_blank' rel='noopener noreferrer')
            .info-box.mb-4
              i.bx.bxs-widget
              h3 Website
  // End Contact Section
// End #main
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6
          .footer-info(data-aos='fade-up' data-aos-delay='50')
            h3 SDP Project MaPPPing
            p.pb-3
              em Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.
            p
              strong Instagram:
              |  @_sdp_official 
              br
              strong Email:
              |  sdpygl@gmail.com 
              br
              br
            .social-links.mt-3
              a.facebook(href='#')
                i.bx.bxl-facebook
              a.instagram(href='#')
                i.bx.bxl-instagram
              a.google-plus(href='#')
                i.bx.bxl-blogger
              a.linkedin(href='#')
                i.bx.bxl-linkedin
              a.youtube(href='#')
                i.bx.bxl-youtube
  .container
    .copyright
      | &copy; Copyright 
      strong
        span SDP Project MaPPPing
      | . All Rights Reserved
    .credits
      // All the links in the footer should remain intact.
      // You can delete the links only if you purchased the pro version.
      // Licensing information: https://bootstrapmade.com/license/
      // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
      | Designed by 
      a(href='https://bootstrapmade.com/') BootstrapMade
// End Footer
a.back-to-top(href='#')
  i.icofont-simple-up
// Vendor JS Files
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/jquery.easing/jquery.easing.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/waypoints/jquery.waypoints.min.js')
script(src='assets/vendor/counterup/counterup.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/venobox/venobox.min.js')
script(src='assets/vendor/owl.carousel/owl.carousel.min.js')
script(src='assets/vendor/aos/aos.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/custom.js')
