doctype html
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3pro.css')
header.w3-container
  h1 Header
| Content
footer.w3-container
  h3 Footer