doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  link(href='assets/css/mobile.css' rel='stylesheet')
  link(href='assets/img/favicon.png' rel='icon')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")  
  link(href='assets/vendor/icofont/icofont.min.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/venobox/venobox.css' rel='stylesheet')
  link(href='assets/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/select2/dist/css/select2.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  link(href='assets/css/mobile.css' rel='stylesheet')
 // search bar
  link(rel='stylesheet' href='assets/css/leaflet-search.css')
  script(type='text/javascript' src='assets/js/leaflet-search.js')
  // leaflet fontawesome icon
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' integrity='sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==' crossorigin='anonymous')
  link(rel='stylesheet' href='assets/css/leaflet.awesome-markers.css')
  // filtering button
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css')
  script(src='https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js')
  link(rel='stylesheet' href='assets/css/leaflet-tag-filter-button.css')
  script(src='assets/js/leaflet-tag-filter-button.js')
  // zoom-in button
  link(rel='stylesheet' href='assets/css/L.Control.ZoomMin.css' media='screen')
  script(script='' src='assets/js/L.Control.ZoomMin.js')
  // sidebar
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  // year range selection
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css')
  // loading
  link(rel='stylesheet' href='assets/css/loading.css')
  // Clear button
  link(rel='stylesheet' href='assets/css/clearbutton.css')
  // Easy button
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css')
  script(src='https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js')

// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center
    .logo.mr-auto
      h1.text-light
        a(href='index')
          span PROJECT MaPPPing

      // Uncomment below if you prefer to use an image logo
      // <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav.nav-menu.d-none.d-lg-block
      // filters
      #filters
            h4 Filter bar
            .filter_list
            ul
              // // Region
              li.listclass_filter
                h6 Country
                  button#clearEach.region_clear
                    span clear
                select#country-select.select.js-select2-multi.country-select(name='countries[]' multiple='multiple' style='width: 90%')
              // // Sector
              li.listclass_filter
                h6 Sector
                  button#clearEach.sector_clear
                    span clear
                select#sector-select.select.js-select2-multi.sector-select(name='sector[]' multiple='multiple' style='width: 90%')
              // // FC Year
              li.listclass_filter
                h6 FC Year
                  button#clearEach.fcyear_clear
                    span clear
                input#myCheck(type='checkbox' onclick='includeNA()' checked='true')
                |  Include N/A value 
                input.js-range-slider(type='text' name='FC_Year' value='')
              // // Status
              li.listclass_filter
                h6 Status
                  button#clearEach.status_clear
                    span clear
                select#status-select.select.js-select2-multi.status-select(name='status[]' multiple='multiple' style='width: 90%')
              // // Income Group
              li.listclass_filter
                h6 Income Group
                  button#clearEach.income_clear
                    span clear
                select#income-select.select.js-select2-multi.income-select(name='income[]' multiple='multiple' style='width: 90%')
              // // PPI Type
              li.listclass_filter
                h6 PPI Type
                  button#clearEach.ppitype_clear
                    span clear
                select#ppitype-select.select.js-select2-multi.ppitype-select(name='ppitype[]' multiple='multiple' style='width: 90%')
            // button
            button.button.clearfilter(style='vertical-align:middle')
              span Clear All
    // .nav-menu
// End Header

// ======= Main =======
mobilemain#main
  #mapwrap

// ======= Footer =======
footer
  |footer
<<<<<<< HEAD

=======
>>>>>>> 3f2520ca7243c767b65e7f4146700839c6189b10
  
// Vendor JS Files
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js", integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous")
script(src='assets/vendor/waypoints/jquery.waypoints.min.js')
script(src='assets/vendor/counterup/counterup.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/venobox/venobox.min.js')
script(src='assets/vendor/owl.carousel/owl.carousel.min.js')
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/select2/dist/js/select2.full.js')
script(src='assets/vendor/select2/dist/js/select2.full.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js')
script(src='https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js')
script(src='assets/js/leaflet.awesome-markers.js')
script(src='assets/js/loading.js')

// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/tutorial.js')
// personal file
script(type='text/javascript' src='assets/js/map.js')
// Plugin JavaScript file
script(src='https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js')
