// ----------------  THE BASICS

@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:wght@100;200&display=swap');
// ----------------  THE FONTS

.timeline-list{
    font-size: 20px;
	line-height: 1.5;

	p{
		color: black;
	}
    
    .timeline-title{
        font-size: 2rem;
        text-align: left;
        padding-bottom: 20px;
    }

    .timeline-title, h1, h2, h3, h4, h5, h6{
        font-family: 'Oswald', sans-serif;
    }
    
    h1 {
		text-align:justify;
        color:#c44536;
        font-size: 1.0rem;
        margin-bottom: .5em;
    }

	h3 {
		text-align:justify;
		font-size: 1.3rem;
	}
    
    p, .timeline-description{
        text-align:justify;
		font-family: 'Raleway', sans-serif;

        // font-family: 'Barlow Condensed', sans-serif;
        font-size: .8rem;
    }

    ul.timeline-description{
        text-align:justify;
        text-indent: 0px;
        list-style-type: circle;
    }

}


// ----------------  THE FONTS

$border-color: #c44536;

.timeline-item {
	padding: 1em 2em 2em;
	position: relative;
	color: rgba(white, .7);
	border-left: 5px solid $border-color;
	left: 40px;
	p {
		font-size: 1rem;
	}
	
	&::before {
		content: '';
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: .785rem;
	}

	&::after {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		line-height: 60px;
		display: block;
		top: 1em;
		position: absolute;
		left: -33px;
		content: attr(year);
		white-space: pre-wrap;
		color: white;
		font-size: 15px;
		font-family: 'Raleway', cursive;
    	text-align: center;
		background: $border-color
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 30%,
			rgba($border-color, 0)) 1 70%
		;
	}
}